.row
.column
  display flex
  flex-shrink 0

  &.shrink
    flex-shrink 1

  for v in nowrap wrap wrap-reverse
    &.{v}
      flex-wrap v

  for v in start end
    &.justify-{v}
      justify-content flex- + v

    &.align-{v}
      align-items flex- + v

    &.align-content-{v}
      align-content flex- + v

  for v in center space-between space-around
    &.justify-{v}
      justify-content v

    &.align-content-{v}
      align-content v

  for v in center baseline stretch
    &.align-{v}
      align-items v

  &.align-content-stretch
    align-content stretch

  & > *
    max-width 100%

    for v in start end
      &.align-self-{v}
        align-self flex- + v

    for v in auto center baseline stretch
      &.align-self-{v}
        align-self v

for v in row column
  .{v}
    flex-direction v

    &.reverse
      flex-direction v + -reverse

.padded
  padding 16px

.flex-none
  flex none

.flex
  flex-grow 1

.hidden
  display none

for n in 1..12
  .flex-{n}
    flex-basis (n*100/12)%

sizes = 1919 1279 959 599
for size, i in lg md sm xs
  @media (max-width: sizes[i]px)
    .hidden-{size}
      display none

    for n in 1..12
      .flex-{size}-{n}
        flex-basis (n*100/12)%

  @media (min-width: (sizes[i]+1)px)
    .hidden-gt-{size}
      display none
