doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Flexbox

    base(href="/")

    link(rel="stylesheet" type="text/css" href="/base.css")
    link(rel="stylesheet" type="text/css" href="/flexbox.css")

  body
    .column.padded.stretch.justify-center
      .row.padded
        h1.flex-6.hidden-gt-xs 1
        h1.flex-6 2
